<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Thawcast test suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="ICECAST_HOST" value="http://localhost:8000" />
        <var name="ICECAST_ADMIN_USERNAME" value="admin" />
        <var name="ICECAST_ADMIN_PASSWORD" value="password" />
    </php>
</phpunit>
